.short-button {
    border-radius: 5%;
    width: 8%;
    position: absolute;
    top: 70%; 
    left: 8%;
    background-color: #ff4500; 
    padding: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}

.long-button {
    border-radius: 5%;
    position: absolute;
    top: 70%; 
    left: 20%;
    background: transparent; 
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 15px;
}