.content {
    position: absolute;
    top: 55%; 
    left: 2%;   
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
}

.header {
    position: absolute;
    top: 50%; 
    left: 25%;
    transform: translate(-50%, -50%);
    background-color: none; 
    padding: 10px;
    color: #ffffff;
    font-size: 30px;
}

.image-container {
    margin-top: 2px;
    position: relative;
    display: inline-block; 
}